<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <header>
      <nav class="navbar">
        <a class="logo" href="{{ url_for('home') }}">☕ Andy Cafe<span>.</span></a>
        <ul class="menu-links">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('menu') }}">Menu</a></li>
          <li><a href="{{ url_for('order') }}">Order</a></li>
          <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
    <!-- Gallery section -->
    <section class="gallery-section" id="gallery">
        <h2 class="section-title">Gallery</h2>
        <div class="section-content">
          <ul class="gallery-list">
            <li class="gallery-item">
              <img src="{{ url_for('static', filename='images/matchawbg.jpg') }}" alt="Gallery Image" class="gallery-image" />
            </li>
            <li class="gallery-item">
              <img src="{{ url_for('static', filename='images/Lemonade.jpg') }}" alt="Gallery Image" class="gallery-image" />
            </li>
            <li class="gallery-item">
              <img src="{{ url_for('static', filename='images/SpanishLatte.jpg') }}" alt="Gallery Image" class="gallery-image" />
            </li>
            <li class="gallery-item">
              <img src="{{ url_for('static', filename='images/Tapsilogg.jpg') }}" alt="Gallery Image" class="gallery-image" />
            </li>
            <li class="gallery-item">
              <img src="{{ url_for('static', filename='images/PestoPasta.jpg') }}" alt="Gallery Image" class="gallery-image" />
            </li>
            <li class="gallery-item">
              <img src="{{ url_for('static', filename='images/BurgerFries.jpg') }}" alt="Gallery Image" class="gallery-image" />
            </li>
            <li class="gallery-item">
              <img src="{{ url_for('static', filename='images/blackcoffee.jpg') }}" alt="Gallery Image" class="gallery-image" />
            </li>
            <li class="gallery-item">
              <img src="{{ url_for('static', filename='images/menu1.jpg') }}" alt="Gallery Image" class="gallery-image" />
            </li>
            <li class="gallery-item">
              <img src="{{ url_for('static', filename='images/menu2.jpg') }}" alt="Gallery Image" class="gallery-image" />
            </li>
          </ul>
        </div>
      </section>
    </main>
    <footer class="footer-section">
      <div class="section-content">
          <p class="copyright-text">© 2025 Andy Cafe. All rights reserved.</p>
          <ul class="social-links">
            <li>
              <a href="https://www.facebook.com/profile.php?id=61570357920747&mibextid=ZbWKwL"" class="social-link"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
              <a href="https://www.instagram.com/cafeandy1?igsh=MWw5bmVvM3U5Ymkx" class="social-link"><i class="fab fa-instagram"></i></a>
          </li>
          </ul>
      </div>
  </footer>
</body>
</html>